<%- include('header'); -%>

    <div style=" margin-bottom: 10%; ">
        <h1>
            <%-title-%>
        </h1>
        <%post.forEach((post)=> {%>
            <img src="<%=post.imageUrl%>">
            <h3>
                <%=post.title%>
            </h3>
            <p>
                <!-- add title name to page route -->
                <!-- "/post/<%=post.title%>" -->
                <%=post.content.substring(0, 50)+ " ..." %>
                    <a href="/post/<%=post.title%> ">Read More</a>
            </p>





            <%})%>

    </div>




    <%- include('footer'); -%>