<%- include('header'); -%>


 <div>
    <img src="<%=imageUrl%>" alt="" style="height:50%; width: 50%;margin-top:40px ">
  </div>

    <h1><%-title-%></h1>
     
        <%-post-%>
       

<%- include('footer'); -%>